html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: left;       
  background: #13293d;
  color: #fff;
}

/* Using flex property to make the container flexible */
nav {
  display: flex;
  justify-content: end;
  background-color: #d8a47f;
}

/* Place the navigational items on the right and make them stand out */
nav a {
  padding: 14px 20px;
  text-decoration: none;
  text-align: right;
  font-size: large;
  font-weight: bold;
  color: #13293d;
}

main {
  display: flex;
}

.about-label {
  flex: 0 0 150px;
}

.work-label {
  flex: 1;
}

.contact-label {
  flex: 0 0 100px;
}

/* Align the flex items using justify-content */
.content-cards {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

/* Style all cards as below */
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;             
}

.card header {
  padding: 20px;
  text-align: center;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* Style and highlight the paragraph under each work related card */
.featured p {
  color:darkslategray;
  text-shadow: 2px 2px darkgray;
  background-color:lightgray;
}
.chess p {
  color:darkslategray;
  text-shadow: 2px 2px darkgray;
  background-color:lightgray;
}

.calculator p {
  color:darkslategray;
  text-shadow: 2px 2px darkgray;
  background-color:lightgray;
}

.iot p {
  color:darkslategray;
  text-shadow: 2px 2px darkgray;
  background-color:lightgray;
}

.weather p {
  color:darkslategray;
  text-shadow: 2px 2px darkgray;
  background-color:lightgray;
}

.about {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px; 
  width:100%    
} 

.featured {              
  width:100%
}

.contact {              
  width:100%
}

.contact-content {
  display: flex;
  justify-content: space-evenly;
  background-color: #d8a47f;
  a {
    padding: 14px 20px;
  text-decoration: none;
  text-align: right;
  color: #13293d;
  }
}

/* Style the guiding aside on the left of screen */
aside {
  flex: 1 1 200px;
  display: flex;                    
  flex-direction: column;           
  justify-content: space-between;    
  text-align: right;
  font-size: large;
  Padding: 0 10px 0 100px;
  border-right: 2px solid #13293d;  
  background-color: #b9c6ae;
}

/* Stack the main body and navbar vertically */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}